PORT=
PSQL_CONNECTION_STRING=
JWT_SECRET=

# You can set arbitrary values for USER and PASSWORD. This will be read by composed postgresql image from docker.
POSTGRES_DB=micro_blog
POSTGRES_USER=
POSTGRES_PASSWORD=
